<div class="overlay-container">
    <img src="/images/portafolio-banner.png" class="d-block w-100" alt="White and Pink Mountains"/>
    <div class="overlay-text m-2">
        <p id="bannerMessage" style="font-size: 2vw;" class="pb-3"></p>
    </div>
</div>