<div>
    <footer class="text-white text-opacity-50 bg-black">
        <ul class="nav d-flex justify-content-center py-3">
            <li class="ms-3 icon-default-move nav-link"><a href="https://www.instagram.com/selene_mgr/" class="me-4 link-secondary"><i class="fa fa-instagram"></i></a></li>
            <li class="ms-3 icon-default-move nav-link"><a href="https://www.facebook.com/selene.mgr/" class="me-4 link-secondary"><i class="fa fa-facebook-square"></i></a></li>
            <li class="ms-3 icon-default-move nav-link"><a href="https://www.linkedin.com/in/selene-mgr/" class="me-4 link-secondary"><i class="fa fa-linkedin-square"></i></a></li>
            <li class="ms-3 icon-default-move nav-link"><a href="https://github.com/selenemgr" class="me-4 link-secondary"><i class="fa fa-github"></i></a></li>
        </ul>
        <p class="b d-flex justify-content-center pb-3 mb-0">©2023 - Selene Munoz</p>
    </footer>
</div>