<ul class="p-3 nav bg-nav-dark nav-underline sticky-md-top justify-content-center">
  <li>
    <a href="/"><img class="img-logo" src="/images/logo.png" alt=""></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/about">About Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/services">Services</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
</ul>