<ul class="p-3 nav bg-black nav-underline sticky-md-top justify-content-center">
  <li>
    <a href="/"><img class="img-logo" src="/images/logo.png" alt="Abstract Pink Fox Logo"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link-top" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link-top" href="/about">About Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link-top" href="/projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link-top" href="/services">Services</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link-top" href="/contact">Contact</a>
  </li>
</ul>