<nav class="nav flex-column sticky-mid" id="navbar-side">
    <a class="nav-link" onclick="scrollToSection('#item-1')"></a>
    <a class="nav-link" onclick="scrollToSection('#item-2')"></a>
    <a class="nav-link" onclick="scrollToSection('#item-3')"></a>
    <a class="nav-link" onclick="scrollToSection('#item-4')"></a>
</nav>